DEBUG=1
SECRET_KEY=your-django-secret-key-here

POSTGRES_DB=flora_db
POSTGRES_USER=flora_user
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432

YANDEX_API_KEY=your-yandex-gpt-api-key
YANDEX_FOLDER_ID=your-yandex-folder-id

TELEGRAM_BOT_TOKEN=your-telegram-bot-token
